appdirs==1.4.4
autopep8==1.5.4
certifi==10001
cffi==1.14.0
chardet==3.0.4
cryptography==3.2.1
Cython==0.29.21
distlib==0.3.1
eclean-kernel==0.4.3
filelock==3.0.12
gdbus-codegen==2.64.5
gemato==16.2
gentoolkit==0.5.0.post2
idna==2.10
java-config==2.3.1
javatoolkit==0.5.0
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
meson==0.55.3
numpy==1.19.3
olefile==0.46
Pillow==7.2.0
ply==3.11
portage==3.0.9
pybind11==2.5.0
pycodestyle==2.6.0
pycparser==2.20
pymountboot==0.2.3
pyOpenSSL==19.1.0
PySocks==1.7.1
requests==2.24.0
scipy==1.5.2
setuptools-scm==4.1.2
six==1.15.0
toml==0.10.1
urllib3==1.25.11
virtualenv==20.1.0
